@font-face {
  font-family: "Aktiv Grotesk";
  src: local("Aktiv Grotesk"),
    url("fonts/AktivGroteskCorp-Regular.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: local("Aktiv Grotesk Bold"),
    url("fonts/AktivGroteskCorp-Bold.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"),
    local("CenturyGothic"),
    url("fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic Bold"),
    url("fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*font-family: "Aktiv Grotesk", "Arial", sans-serif;*/
/*font-family: "Century Gothic", "Arial", sans-serif;*/
