.button {
  display: inline-block;
  padding: 10px 0;

  width: 282px;
  height: 48px;

  font-family: "Century Gothic", "Arial", sans-serif;

  color: #ffffff;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #000000;

  transition-duration: 0.5s;
  transition-property: background-color;

  &--sale {
    width: 221px;
    height: 41px;

    color: #000000;
    line-height: 21px;

    background-color: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
  }

  &--sale:hover,
  &--sale:focus {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}
