.card__image-container {
  position: relative;

  width: 100%;

  background-color: #f7f7f7;
}

.card__image {
  width: 100%;
}

.card__link {
  position: absolute;


  color: #000000;
  font-size: 0;
  text-decoration: none;

  top: 27px;
  right: 31px;

  width: 24px;
  height: 23px;

  background-image: url("img/icon-star.png");
  background-repeat: no-repeat;
}

.card__colors {
  margin-bottom: 48px;
}

.card__name {
  margin-bottom: 8px;

  font-size: 17px;
  font-weight: normal;
}

.card__price {
  margin: 0;
  font-weight: bold;
}

.card__digits {
  letter-spacing: 0.8px;
}
