.cards {
  padding-top: 89px;
  padding-bottom: 92px;

  border-top: 1px solid #000000;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 32px;
  }
}

.cards__header {
  margin: 0;
  margin-bottom: 41px;
  font-size: 31px;

  font-weight: normal;
  letter-spacing: 0.6px;
  word-spacing: 1px;
}

.cards__list {
  @include list_none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.cards__item {
  width: 23.05%;

  margin-right: 2.6%;
  margin-bottom: 47px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: auto;
  }
}
