.collection__header {
  margin: 0;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.75px;
}

.collection__header-name {
  font-size: 47px;
  line-height: 67px;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-transform: none;
}

.collection__set {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

.collection__stuff {
  margin: 0 auto;

  margin-bottom: 59px;
}

