.color__link {
  display: inline-block;

  color: #000000;
  font-size: 0;
  text-decoration: none;

  top: 27px;
  right: 31px;

  width: 24px;
  height: 21px;

  background-image: url("../img/icon-color-black.png");
  background-repeat: no-repeat;
}
