.footer {
  padding: 5px 103px;
}

.footer__container {
  margin: 0 auto;
  border-top: 1px solid #000000;

  &--no-border {
    border-top: none;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 5px 35px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 5px 0;
  }
}
