.footer-info {
  padding: 60px 10.7%;
  padding-bottom: 62px;
  padding-right: 11.1%;
  border-bottom: 1px solid #000000;

  &--large {
    padding-bottom: 54px;
  }
}

.footer-info__list {
  @include list_none;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer-info {
    padding: 0;
	border-bottom: none;
  }

  .footer-info__list {
    flex-direction: column;
    justify-content: flex-start;
  }
}
