.info__header {
  margin: 0;
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: normal;
}

.info__list {
  @include list_none;

  width: 200px;
}

.info__item {
  margin-bottom: 12px;
}

.info__link {
  color: #000000;
  font-size: 15px;
  letter-spacing: -0.8px;
  word-spacing: 2px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .info {
    border-bottom: 1px solid #000000;
  }

  .info__header {
    position: relative;

    padding: 25px 0;

    color: #ffffff;
    font-size: 16px;

    background-color: #000000;

    &:last-child {
      border-bottom: none;
    }

    &--closed {
      color: #000000;
      background-color: #ffffff;
    }

    &::after {
      content: "-";

      position: absolute;

      right: 0;

      font-size: 40px;
      line-height: 20px;
    }

    &--closed::after {
      content: "+";
    }
  }

  .info__list {
    width: 97%;

    padding-left: 30px;

    &--closed {
      display: none;
    }
  }

  .info__item {
    margin: 0;
    padding: 25px 0;

    border-bottom: 1px solid #000000;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .info__header {
    padding: 25px 20px;

    &::after {
      right: 20px;
    }
  }

  .info__list {
    width: 100%;
    padding-left: 0;
  }

  .info__link {
    padding-left: 40px;
  }
}
