.menu {
  display: flex;
  justify-content: space-between;

  padding: 22px 0;

  &--large {
    border-bottom: 1px solid #000000;
    padding-bottom: 21px;
  }
}

.menu__left {
  display: flex;
  width: 29.7%;

  font-size: 12px;

  padding-left: 2.4%;

  &--large {
    padding-left: 2.6%;
  }
}

.menu__center {
  width: 650px;

  &--large {
    width: 750px;

    padding-top: 5px;
  }
}

.menu__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 29.7%;

  padding-right: 0.9%;
}

.menu__logo {
  margin-bottom: 15px;

  &--large {
    margin-bottom: 18px;
  }
}

.menu__services {
  margin: 0;
  margin-bottom: 27px;

  &--large {
    margin-bottom: 27px;
  }
}


@media (max-width: 1024px) {
  .menu {
    height: 70px;

    padding-bottom: 5px;
  }

  .menu__left {
    display: none;
  }

  .menu__center {
    display: flex;
    flex-direction: row-reverse;

    width: 75%;

    padding-left: 20px;
  }

  .menu__logo {
    margin: 0 auto;
  }

  .menu__navigation {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-wrap: wrap;

    height: 105px;

    &--large {
      height: 128px;
    }
  }

  .menu__center {
    width: 100%;
  }

  .menu__right {
    width: 100%;

    padding-right: 0.9%;
  }
}
