.navigation__list {
  display: flex;
  justify-content: space-between;

  @include list_none;

  padding-left: 16px;

  font-size: 12px;
  letter-spacing: 2px;
}

.navigation__link {
  color: #000000;

  text-decoration: none;
}
