.promo__image-container {
  font-size: 0;
}

.promo__image {
  width: 100%;
}

.promo__text-container {
  padding-top: 18px;
  padding-bottom: 65px;

  &--skeleton {
    padding-bottom: 67px;
  }

  &--no-limits {
    padding-top: 16px;
    padding-bottom: 68px;
  }

  &--king {
    padding-top: 12px;
    padding-bottom: 91px;
  }

  &--rainbow {
    padding-top: 13px;
    padding-bottom: 102px;
  }

  &--type1 {
    padding-top: 13px;
    padding-bottom: 73px;
  }
}

.promo__header {
  margin: 0;
  margin-bottom: 8px;
  padding: 0 20px;

  font-size: 49px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.75px;
  word-spacing: 5px;
}

.promo__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 15px;

  font-size: 17px;
  text-align: center;
  text-transform: none;
  letter-spacing: 1.25px;

  &--skeleton {
    margin-bottom: 22px;
  }
}

.promo__buttons {
  @include list_none;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  width: 640px;
  margin: 0 auto;
}

.promo__button-single {
  text-align: center;
}

.promo__button {
  width: 282px;

  letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
  .promo__buttons {
    justify-content: space-around;

    width: 73%;
    margin: 0 auto;
  }

  .promo__button {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .promo__header {
    font-size: 26px;
  }

  .promo__buttons {
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    margin: 0 auto;
  }

  .promo__item {
    text-align: center;
  }

  .promo__button {
    width: 80%;
    margin-bottom: 20px;
  }

  .promo__text-container {
    padding-bottom: 40px;
  }
}
