.properties {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 35px;

  list-style: none;

  &--large {
    padding: 0 11px;
  }
}

.properties__item {
  margin-right: 60px;

  &--large {
    margin-right: 53px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.properties__link {
  position: relative;

  color: #000000;

  font-size: 11px;
  font-weight: bold;
  text-decoration: none;

  letter-spacing: 1px;

  &--large {
    font-size: 14px;
    letter-spacing: 0.7px;
  }

  &--change::after {
    content: "";

    position: absolute;

    top: 1px;
    right: -21px;

    width: 10px;
    height: 6px;

    background-image: url("./img/icon-arrow.png");
  }

  &--large::after {
    top: 6px;
    left: 173px;
  }

  &--change-lang::after {
    left: 72px;
  }
}

@media (max-width: 1024px) {
  .properties__item {
    width: 50%;

    margin-right: 0;
    padding-left: 20px;

    &:first-child {
      border-right: 1px solid #000000;
    }
  }

  .properties__link--change::after {
    display: none;
  }
}
