.sale {
  padding-top: 122px;
  padding-bottom: 45px;

  color: #ffffff;
  text-align: center;
  background-color: #000000;
}

.sale__header {
  margin: 0;
  margin-bottom: 108px;
  padding-left: 2px;

  font-family: "Aktiv Grotesk", "Arial", sans-serif;
  font-size: 128px;

  font-weight: bold;
  letter-spacing: 1px;
}

.sale__timer {
  margin-bottom: 37px;
}

.sale__list {
  @include list_none;

  display: flex;
  justify-content: center;
}

.sale__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .sale {
    padding-bottom: 30;
  }

  .sale__header {
    font-size: 110px;
  }

  .sale__menu {
    padding-top: 20px;
  }

  .sale__list {
    flex-direction: column;
    justify-content: center;
  }

  .sale__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
