.site-story {
  padding-top: 8px;
}

.site-story__breadcrumbs {
  margin-bottom: 20px;
}

.site-story__header {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 22px;

  font-size: 24px;
  letter-spacing: -0.4px;
}

.site-story__filters {
  margin-bottom: 10px;
}

.site-story__container {
  padding: 0 100px;
  padding-top: 22px;

  background-image: url("../img/background-texture.jpg");
  background-position: 205px -1px;
}
