.stuff {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1149px;
}

.stuff__list {
  @include list_none;

  position: absolute;

  top: 0;
  left: 0;
}

.stuff__item {
  position: absolute;
}

.stuff__list--men {
  & .stuff__item:nth-child(1) {
    top: 208px;
    left: 884px;
  }

  & .stuff__item:nth-child(2) {
    top: 588px;
    left: -306px;
  }

  & .stuff__item:nth-child(3) {
    top: 1017px;
    left: 884px;
  }
}

.stuff__list--women {
  & .stuff__item:nth-child(1) {
    top: 208px;
    left: -305px;
  }

  & .stuff__item:nth-child(2) {
    top: 588px;
    left: 885px;
  }

  & .stuff__item:nth-child(3) {
    top: 1017px;
    left: -305px;
  }
}
