.stuff-item__image {
  width: 100%;
}

.stuff-item__mobile-image {
  display: none;
}

.stuff-item__link {
  color: #000000;
  text-decoration: none;
}

.stuff-item__container {
  position: relative;
}

.stuff-item__text-container {
  position: absolute;
  left: 0;
  bottom: 9%;

  width: 100%;

  text-align: center;
}

.stuff-item__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.5vw;
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
}

.stuff-item__text {
  margin: 0;
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 20px;
}

@media (max-width: 768px) {
  .stuff-item {
    margin: 0 2%;

    background-color: #ffffff;
    padding-bottom: 20px;
  }

  .stuff-item__image-container {
    width: 60%;
    margin: 0 auto;
  }

  .stuff-item__image {
    display: none;
  }

  .stuff-item__mobile-image {
    display: block;
    width: 100%;
  }

  .stuff-item__text-container {
    position: static;
  }

  .stuff-item__description {
    font-size: 15px;
  }

  .stuff-item__text {
    font-size: 14px;
  }
}
