.stuff-item__image {
  width: 100%;
}

.stuff-item__link {
  color: #000000;
  text-decoration: none;
}

.stuff-item__container {
  position: relative;
}

.stuff-item__text-container {
  position: absolute;
  left: 0;
  bottom: 9%;

  width: 100%;

  text-align: center;
}

.stuff-item__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
}

.stuff-item__text {
  margin: 0;
  font-size: 1.32em;
  font-weight: bold;
  line-height: 20px;
}
