.utils {
  display: flex;

  @include list_none;
}

.utils__item {
  margin-right: 19px;

  &--large {
    margin-right: 27px;
    line-height: 25px;
  }
}

.utils__link {
  display: inline-block;

  color: #000000;
  text-decoration: none;


  &::before {
    content: "";
    display: inline-block;

    width: 24px;
    height: 24px;

    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--favorites::before {
    background-image: url("./img/icon-star.png");
  }

  &--phone::before {
    background-image: url("./img/icon-phone.png");
  }

  &--mail::before {
    background-image: url("./img/icon-letter.png");
  }

  &--cart::before {
    background-image: url("./img/icon-packet.png");
  }
}

@media (max-width: 1024px) {
  .utils__cart-count {
    display: none;
  }
}

@media (max-width: 768px) {
  .utils {
    width: 100%;
    justify-content: space-around;

    padding: 15px 0;
  }

  .utils__item {
    width: 25%;
    margin: 0;

    text-align: center;

    border-left: 1px solid #000000;
    border-right: 1px solid #000000;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}
