.video {
  display: flex;
  align-items: center;

  padding-top: 22px;
  padding-bottom: 102px;
  padding-left: 3px;
}

.video__player {
  width: 95.3%;
}

.video__preview {
  width: 100%;
}

.video__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  padding-bottom: 7px;
}

.video__header {
  margin: 0;
  font-size: 51px;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  padding-left: 7.4%;
  text-align: center;
}

.video__text {
  width: 85%;
  font-size: 22px;
  letter-spacing: 0.4px;
  word-spacing: -2px;
  line-height: 29px;
  text-align: center;
  text-transform: none;

  padding-left: 17%;
  padding-top: 2px;
}
